/* Variables */

:root {
  --darkground: black;
  --darkcolor: #E076D2;
}

/* Fonts and sizes */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* Needed for Nav-Bar */

.navbar-collapse.collapse.in {
  display: block!important;
}

.lightMode {
  border: none;
  background-color: #f8f9fa;
}

/* Calculator CSS */

body {
  height: 100%;
  margin: 0px;
  background-color: wheat;
  transition: 0.8s all;
}

.calcGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(7.5em, auto) repeat(6, 6.25em);
  transition: 0.8s all;
}

.calcGrid > button {
  font-size: 2rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.45);
  transition: 0.8s all;
}

.calcGrid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.8s all;
}

.twoSpots {
  grid-column: span 2;
  transition: 0.8s all;
}

.screen {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .60);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.625em;
  word-wrap: break-word;
  word-break: break-all;
  transition: 0.8s all;
}

.screen {
  color: white;
  font-size: 2.5rem;
  transition: 0.8s all;
}

.bottom {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    transition: 0.8s all;
}

/* Dark Mode CSS */

.dark-calc {
  color: var(--darkcolor);
  background-color: var(--darkground);
  transition: 0.8s all;
}

.hover > button:hover {
  background-color: rgba(224, 118, 210, 0.4);
  transition: 0.8s all;
}

.calcContain > button{
  font-size: 2rem;
  border: 1px solid var(--darkcolor);
  background-color: rgba(0, 0, 0, 1);
  color: var(--darkcolor);
  transition: 0.8s all;
}

.dark-screen {
  color: var(--darkground);
  background-color: var(--darkcolor);
  font-size: 2.5rem;
  transition: 0.8s all;
}

.bg-dark { 
  background-color: var(--darkcolor)!important;
}

.darkBtn {
  background-color: var(--darkcolor);
}