<body>
  <div class="historyCont">
    <div class="history" id="history">
      <h2>Previous Calculations</h2>
      <ul id="theList">
      </ul>
    </div>
  </div>
  <div>
  <main class="calcGrid" id="calcMain">
    <div class="screen" id="screen">
    </div>        
      <button class="twoSpots" id="acBtn">AC</button>        
      <button>DEL</button>        
      <button>รท</button>        
      <button>7</button>
      <button>8</button>
      <button>9</button>        
      <button>x</button>        
      <button>4</button>
      <button>5</button>
      <button>6</button>        
      <button>+</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>-</button>
      <button>.</button>
      <button>0</button>
      <button>(</button>
      <button>)</button>
      <button>r</button>  
      <button>^</button>
      <button class="twoSpots">=</button>
  </main>
  </div>
  <footer class="bottom">&copy;2021 Agile Development Team </footer>
</body>
</html>
