<body class="index">
  <header class="title"><h1>Number Magic!</h1></header>
    <div class="calcContainer">
    <main class="calcGrid" id="calculator">
      <h2 class="calcHead">Calculate Here!</h2>
      <textarea class="calcArea" placeholder="YAAAY MATH" id="screen"></textarea>
        <button class="one button" id="oneBtn">1</button>
        <button class="two button" id="twoBtn">2</button>
        <button class="three button" id="threeBtn">3</button>
        <button class="four button" id="fourBtn">4</button>
        <button class="five button" id="fiveBtn">5</button>
        <button class="six button" id="sixBtn">6</button>
        <button class="seven button" id="sevenBtn">7</button>
        <button class="eight button" id="eightBtn">8</button>
        <button class="nine button" id="nineBtn">9</button>
        <button class="zero button" id="zeroBtn">0</button>
        <button class="add button" id="plusBtn">+</button>
        <button class="sub button" id="minusBtn">-</button>
        <button class="div button" id="divBtn">รท</button>
        <button class="multi button" id="multBtn">x</button>
        <button class="equals button" id="eqBtn">=</button>
        <button class="decimal button" id="decBtn">.</button>
        <button class="percent button" id="perBtn">%</button>
        <button class="delete button" id="delBtn">DEL</button>
        <button class="ac button" id="acBtn">AC</button>
    </main>
    </div>
    <footer class="bottom">&copy;2021 Agile Development Team </footer>
</body>
</html>